//css here - adding a note to indicate this version is story1

* {
	box-sizing: border-box;
	font-family: Georgia;
}

header {
	display: flex;
	justify-content: space-around;
	padding: 10px 0;
	background-color: #5f758e;
}