//css here - adding a note to indicate this version is story1

* {
	box-sizing: border-box;
}

body {
	background-color: #dddbcb;
	font-family: Georgia;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px 0;
	background-color: #5f758e;
	color: #dddbcb;
	margin: auto;

}

.banner {
	padding: 5px;
	width: 80%;
	background-color: #6d7275;
	color: #dddbcb;
	margin: 20px auto;
	border-style: solid;
	border-width: 1px;
	border-color: #001a1d;
	
}

main {
	background-image: url("images/floor.jpg");
	background-position: center;
	background-size: cover;
	filter: grayscale(100%);
	padding: 210px;
	width: 30%;
	margin: auto;
	border-style: solid;
	border-width: 1px;
	border-color: #6d7275;
	
}

q,
.about-btn {
	color: #dddbcb;

}

.items {
	display: flex;
	width: 80%;
	justify-content: space-between;
	margin: auto;
	color: #001a1d;
	
}

.portfolio-item {
	padding: 0 20px;
	width: 25%;

}

h5 {
	padding: 0 0 50px 0;

}

#tech-image {
	background-image: url("images/tech.jpg");
	background-position: center;
	background-size: cover;
	filter: grayscale(100%);
	border-style: solid;
	border-width: 1px;
	border-color: #6d7275;
}

.about-me {
	width: 60%;
	justify-content: space-between;
	margin: auto;
	padding: 30px;
	border-style: solid;
	border-width: 3px;
	border-color: #5f758e;
	color: #001a1d;
}